.header
  %h1 Dashboard

.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "1"} Widget 1
    %li{"data-col" => "2", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "2"} Widget 2
    %li{"data-col" => "3", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "3"} Widget 3
    %li{"data-col" => "4", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "4"} Widget 4
    %li{"data-col" => "5", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "5"} Widget 5
    %li{"data-col" => "6", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "6"} Widget 6
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "7"} Widget 7
    %li{"data-col" => "2", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "8"} Widget 8
    %li{"data-col" => "3", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "9"} Widget 9
    %li{"data-col" => "4", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "10"} Widget 10
    %li{"data-col" => "5", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "11"} Widget 11
    %li{"data-col" => "6", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1", "data-id" => "12"} Widget 12
